* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.image {
    width: 200px;
    height: 200px;
    margin: 16px;
    border: 1px dotted gray;
    text-align: center;
    /* box-sizing: border-box; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}