img {
    display: none;
    max-width: 100%;
    margin: auto;
}

@media screen and (min-width: 400px) {
    .big {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .small {
        display: block;
    }
}